---


---

<section class="full_main_container">
    <section class="main_content_hero ">
        <section class="gradient_main_hero">
            <section class="description_content_hero--pragraph">
                <h2 class="text_description_paragraph">Infinity experiences</h2>
                <p>More than you can think, a new experience in the real of games, enteratamient, and also
                    more things that you can understand
                </p>
            </section>
        </section>
    </section>
    <section class="description_content_hero">
        <p>Acces to a gallery of games</p>
    </section>
</section>

<style>
    .main_content_hero{
        width: 100%;
        height: 100vh;
        content: " ";
        background-image: url("/images/games.jpg");
    }
    .description_content_hero{
        width: 100%;
        height: auto;
        background-color: #064c7c;
        padding: 1.5rem;
        color: white;
    }
    .gradient_main_hero{
        width: inherit;
        height: inherit;
        background-image: linear-gradient(to right,#05132b,#05132bbe,rgba(255, 0, 0, 0));
        opacity: 1;
    }
    .full_main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .description_content_hero--pragraph{
        padding: 6rem;
        text-transform: capitalize;        
    }
    .description_content_hero--pragraph p{
        margin: 1rem;
        word-break: break-all;
        color: #a0a0a0;
        padding: .5rem;
        
        
    }
    .text_description_paragraph{
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }

</style>